In [6]:
import sqlite3
import pandas as pd
import numpy as np
# Path to your SQL schema
sql_schema_path = '../sql_schema.sql'

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Read the SQL schema and execute it
with open(sql_schema_path, 'r') as file:
    sql_schema = file.read()
    conn.executescript(sql_schema)

# List all tables in the database
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(tables_query, conn)

# Load each table into a DataFrame
dataframes = {}
for table in tables['name']:
    df = pd.read_sql(f'SELECT * FROM {table}', conn)
    dataframes[table] = df

In [7]:
table_a = dataframes["TABLE_A"]
table_b = dataframes["TABLE_B"]

In [8]:
# Subscriptions:
table_b = table_b[table_b["SUBSCRIPTION_STATE"] == "paid"]
print(table_b["ACCOUNT_ID"].nunique())
table_b.groupby('ACCOUNT_HOME_COUNTRY').nunique()[["ACCOUNT_ID"]]

146

                      ACCOUNT_ID
ACCOUNT_HOME_COUNTRY
AR                            25
BR                            76
MX                            45

In [12]:
table_a.groupby(["PROGRAM_TYPE"], as_index=True).nunique()[["PROGRAM_ID", "SERIES_ID"]] #47 movies, 87 series

              PROGRAM_ID  SERIES_ID
PROGRAM_TYPE
episode              114         87
movie                 47          1
promotional            3          1
short-form             9          1